# ASP.NET Core
# Build results
[Dd]ebug/
[Rr]elease/
obj/
bin/

# .NET Core
*.dll
*.exe
*.pdb
*.dll.config

# Build Folders
**/bin/
**/obj/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Roslyn cache directories
*.ide/

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# Visual Studio 2017/2019 cache/reports
.vs/
bin/
ReportGenerator/    
TestResults/
[Oo]ut/

# NuGet
/[Nn]uGet[Rr]estore/
*.nuget.props
*.nuget.targets

# MSTest
*.trx

# Docker-compose
docker-compose.yml
docker-compose.override.yml
